@charset "utf-8";


@font-face {
  font-family: "Math";
  src: url("../font/math.otf");
}

@font-face {
  font-family: "Math Variant";
  src: url("../font/variant.otf");
}

math-root {
  line-height: 0;
}

math-root * {
  display: inline-block;
  box-sizing: border-box;
}

math-root math-c {
  margin: 0em 0em;
  line-height: 0.8;
}

math-root math-c::before {
  display: inline-block;
  content: attr(data-c);
}

math-root math-n {
  margin: 0em 0em;
}

math-root math-i {
  margin: 0em 0em;
  font-style: italic;
}

math-root math-o {
  margin: 0em 0.2em;
  font-family: "Math";
}

math-root math-o.var {
  margin: 0em 0.2em;
  font-family: "Math Variant";
}

math-root math-scr math-o {
  margin: 0em 0em;
  font-family: "Math";
}

math-root math-o.l0 {
  margin-left: 0em;
}

math-root math-o.r0 {
  margin-right: 0em;
}

math-root math-frac {
  margin: 0em 0.2em;
  vertical-align: 0.1em;
  display: inline-block;
}

math-root math-frac >math-num {
  margin: 0em 0em;
  text-align: center;
  display: block;
}

math-root math-frac >math-dencont {
  width: 100%;
  display: inline-table;
}

math-root math-frac >math-dencont::before {
  margin: -0.15em -0.2em;
  height: 1px;
  border-top: 1px solid;
  display: block;
  content: "";
}

math-root math-frac >math-dencont >math-den {
  margin: 0em 0em;
  text-align: center;
  display: table-row;
}

math-root math-sqrt >math-surd {
  margin: 0.25em 0em 0em 0em;
  vertical-align: top;
}

math-root math-sqrt >math-surd.s1 {
  margin: 0.95em 0em 0em 0em;
}

math-root math-sqrt >math-surd.s2 {
  margin: 1.44em 0em 0em 0em;
}

math-root math-sqrt >math-surd >math-o,
math-root math-sqrt >math-surd >math-o.var {
  margin: 0em;
}

math-root math-sqrt >math-sqrtcont {
  padding: 0.15em 0.2em 0em 0em;
  border-top: 1px solid;
}

math-root math-sup >math-base {
  margin: 0.2em 0em 0em 0em;
}

math-root math-sup >math-scr {
  margin: 0em 0em 0em 0em;
  vertical-align: top;
  font-size: 70.7%;
}